{
        # Only renew certificates once a week
        renew_interval 7d
        # Disable admin interface
        admin off
        # Only use the explicitly provided config
        persist_config off
        # Set email for Let's Encrypt
        email ...
        # Use the staging endpoint to get certificates by default
        # Remove once ready to go to production
        acme_ca "https://acme-staging-v02.api.letsencrypt.org/directory"
        # Only use certificates from Let's Encrypt by default
        cert_issuer acme
}


paperless.example.com {
        reverse_proxy http://10.89.X.Y:8000 {
        header_down Referrer-Policy "strict-origin-when-cross-origin"
    }
}
